@import "tailwindcss";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");

@theme {
	--font-display: "M PLUS 1p", sans-serif;
	--font-body: "M PLUS 1p", sans-serif;
	--color-primary: #3f98b9;
	--color-secondary: #252b42;
	--color-footer: #1c4453;
	--color-orange: #d27d4b;
}

body {
	background-color: #fcfcfc;
}
